@import "colors";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

button, a {
  font-size: large;
  background-color: $themeColor;
  border-radius: 10px;
  border: 0px;
  color: white;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: #ccc 0 1px 5px 1px;

  &:hover:not(disabled) {
    box-shadow: $themeColor 0 2px 5px 1px;
  }
  
  &.outline {
    color: $themeColor;
    border: 2px solid $themeColor;
    background-color: white;
    padding: 14px;
  }

  &:disabled {
    color: $disabledColor;
    background-color: white;
    cursor: not-allowed;
  }
}

p {
  margin: 0 0;
}

input, select {
  border: 1px solid #777;
  border-radius: 5px;
  padding: 10px;
}