.poker-card {
  height: 100px;
  width: 60px;
  background-color: white;
  color: dodgerblue;
  border: 4px solid dodgerblue;
  border-radius: 10px;
  font-size: xx-large;
  margin: 10px;
  box-shadow: 0 2px 4px #ccc;
  display: flex;
  align-items: center;
  
  &.clickable {
    transition: transform 0.5s;

    &:hover {
      box-shadow: 0 2px 5px 1px #777;
      cursor: pointer;
    }

    &.selected {
      transform: translateY(-50px);
      transition: transform 0.5s;
      box-shadow: 0 2px 5px 1px dodgerblue;
    }
  }

  &.hidden {
    background-color: dodgerblue;
  }
  
  &.not-picked {
    border: none;
    background-color: #ccc;
  }
}